@use '../../scss/variables';

section.services {
    padding: 9rem 12rem;
    padding-bottom: 10rem;
    user-select: none;
    
    .services-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;

            li {
                position: relative;
                transform: translateY(100%);
                opacity: 0;
                padding: 2rem 2rem;
                padding-top: 4rem;
                height: 15rem;
                width: 175px;
                box-shadow: 0px 6px 6px -2px rgba(0,0,0,0.3), 0px -2px 8px -4px rgba(0,0,0,0.3);
                cursor: pointer;
                transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
                animation: comeUpSmooth 500ms forwards 2s;

                &:hover {
                    box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.3), 0px -2px 10px -4px rgba(0,0,0,0.3);
                    transform: scale(1.05);
                }

                div:first-of-type {
                    font-size: 1.5rem;
                    color: variables.$link-text-color-inactive;
                    margin-bottom: 1rem;
                }

                div:nth-child(2), div:nth-child(3) {
                    font-size: 1rem;
                    font-weight: 500;
                } 

                div:nth-child(3) {
                    margin-bottom: 2rem;
                }

                div:last-of-type {
                    font-size: 0.8rem;
                    color: variables.$link-text-color-inactive;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}

@keyframes comeUpSmooth {
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    section.services {
        padding: 5rem 1rem;   
        height: 100vh; 

        .services-article{
            .header {
                margin-bottom: 4rem;
            }
            .services-data {
                ul {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-gap: 2rem;
                    li {
                        padding: 2rem 1rem;
                    }
                }
            }
        }
    }


}