@use '../scss/variables';

:root {
  --var-counter-animation: 2000ms;
}

article.intro {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  
  div.personal {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
  }
  div.details {
    transform: translateX(-300%);
    animation: inFromLeft 500ms forwards 500ms;


    div.social {
        margin-top: 1rem;
    }
    p:not(:last-of-type) {
      font-size: 2.5rem;
      font-weight: 600;
    }

    p:last-of-type {
        font-size: 1rem;
        font-weight: 400;
    }

    p.profession {
        margin-top: 1rem;
        span {
            min-width: 400px;
            display: inline-block;
            position: relative;
            animation: goUp 300ms forwards 2s;
        }
    }

    p b {
        color: variables.$link-text-color-active;

        span {
            position: relative;
            cursor: pointer;
        }
        
        span:nth-child(1){
            animation: bounce 200ms forwards 2000ms;
        }
        span:nth-child(2){
            animation: bounce 200ms forwards 2200ms;
        }
        span:nth-child(3){
            animation: bounce 200ms forwards 2400ms;
        }
        span:nth-child(4){
            animation: bounce 200ms forwards 2600ms;
        }
        span:nth-child(5){
            animation: bounce 200ms forwards 2800ms;
        }
        span:nth-child(6){
            animation: bounce 200ms forwards 3000ms;
        }
    }
  }

  div.photo {
      img {
        transform: translateX(300%);
        animation: inFromLeft 500ms forwards 1000ms;
        border-radius: 50%;
        box-shadow: 4px 4px 10px -2px rgb(0 0 0 / 40%);
      }
  }
}

@keyframes inFromLeft {
    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        bottom: 0.5rem;
    }

    100% {
        bottom: 0rem;
    }
}

@keyframes goUp {
    0% {
        bottom: 0rem;
        opacity: 1;
    }

    100% {
        bottom: 1rem;
        opacity: 0;
    }
}