$font-color: rgba(0, 0, 0, 1);
$font-link-color: rgba(0, 0, 0, 0.6);

$link-text-color-inactive: #FF5722;
$link-text-color-active: #E64A19;
$black: rgba(0,0,0, 1);

$progress-bar-background: #FA947E;
